<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>weather</title>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
        <div class="chart-container" style="position: relative; height:600px; width:1200px">
            <canvas id="myChart"></canvas>
        </div>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
   // var data = data.customers[0].amounts.map(function(e) {
   //    return e[1];
   // });
var labels_from_py = {{ labels|tojson }};
var data_from_py = {{ data|tojson }};
// console.log(labels_from_py)
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      labels: labels_from_py,
      datasets: [{
        label: 'прогноз погоды',
        // data: [12, 19, 3, 5, 2, 3],
        data: data_from_py,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
		maintainAspectRatio: false,
      scales: {
        x: {
            type: 'time',
            time: {
                unit: 'day'
            }
        },
        y: {
          beginAtZero: true
        },

      }
    }
  });

</script>




</body>
</html>